# GENERAL

# The name of your website or app. For example, Microsoft, Apple, etc
# This appears in the email templates and more.
APP_NAME=

## SMTP EMAIL CREDENTIALS

SMTP_EMAIL_HOST=
SMTP_EMAIL_PORT=
SMTP_EMAIL_USERNAME=
SMTP_EMAIL_PASSWORD=
SMTP_EMAIL_ADMIN_EMAIL=
SMTP_EMAIL_SENDER_NAME=


# ------- UPSTASH REDIS -------
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=